/* Imported fonts: */
/*Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Open Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw; 
    background-image: url(./images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
    background-size: contain;
    color: white; 
    display: flex;
    flex-direction: column;
}

.icon__container {
   padding-left: 10%;
   top: 0;
   padding-top: 1em;
}

.icon__image {
    height: 30px;
}

.content__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-grow: 1;
}

.content__container__image {
    width: 80%;
    height: auto;
} 

.content__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content__container__text {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content__headline {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    width: 80%;
}

.content__paragraph {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 80%;
    margin: 1em 0 1.2em 0;
}

.content__button {
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: none;
    color: hsl(257, 40%, 49%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content__button:hover {
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
    color: white;
}
.socials__container {
    display: table-cell;
    text-align: center;
    bottom: 0;
    padding-bottom: 1em;
}

.socials__icon {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-left: .2rem;
    margin-right: .2rem;
}

.socials__icon:hover {
    cursor: pointer;
}
.socials__icon:nth-child(1):hover {
    content: url(./images/facebook-svgrepo-com-pink.svg);
}

.socials__icon:nth-child(2):hover {
    content: url(./images/twitter-svgrepo-com-pink.svg);
}

.socials__icon:nth-child(3):hover {
    content: url(./images/instagram-svgrepo-com-pink.svg);
}

@media only screen and (min-width: 875px) {
    .socials__container {
        margin-top: 1em;
        padding-bottom: 0;
        margin-bottom: 1em;
    }
}

@media only screen and (min-width: 992px) {
    body {
        background-image: url(./images/bg-desktop.svg);
        background-size: cover;
    }

    .icon__container {
        padding-left: 3.2%;
        padding-top: 3em;
     }

    .icon__image {
        height: 60px;
    }

    .content__section {
        flex-direction: row;
    }
    .content__container__image {
        width: 60%;
        padding-left: 3.2%;
    }

    .content__image {
        width: 100%;
    }

    .content__headline {
        font-size: 2.5em;
        width: auto;
    }

    .content__container__text {
        width: 40%;
        margin-top: 0;
        text-align: left;
        align-items: normal;
        display: block;
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 7em;
    }

    .content__paragraph {
        width: auto;
    }
    .socials__container {
        text-align: end;
        padding-right: 3.2%;
        margin-top: 0;
        padding-bottom: 1em;
        margin-bottom: 0;
    }
    .socials__icon {
        width: 35px;
        height: 35px;
        margin-left: .3rem;
        margin-right: .3rem;
    }
}



