body {
    margin: 0;
    width: 100vw;
}
header {
    background-color: lightgreen;
    width: 100vw;
    height: 12vh;
    /* padding: 3vh; */
    border-radius: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 20px 0 15px 0;
}

header .header__title { 
    margin-left: 5%;
    margin-bottom: 0;
    margin-top: 0;
}

nav {
    background-color: rgb(101, 165, 101);
    width: 90%;
    height: 70%;
    border-radius: 10px;
    margin-left: 5%; 
    padding-top: 10px;
    box-sizing: border-box;
}

nav .nav__title {
    margin-top: 0;
    margin-left: 20px;
    color: white;
    margin-bottom: 0;
}

section {
    background-color: rgb(255, 255, 255);
    width: 100vw;
    height: 60vh;
    display: inline-block;
}
.aside {
    background-color: orange;
    height: 100%; 
    width: 20%;
    border-radius: 10px;

}

.aside .aside__title {
    margin-top: 20px;
    margin-left: 40%;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

main {
    background-color: red;
    width: 50%;
    height: 100%;
    border-radius: 10px;
}

main p {
    margin-left: 20px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

main h5 {
    margin-left: 7.5%;
    margin-bottom: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
}


.body {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

article {
    background-color: white;
    height: 18%;
    width: 85%;
    margin-bottom: 5%;
    margin-left: 7.5%;
    border-radius: 10px;
    padding-top: 10px;
    box-sizing: border-box;
}

article:nth-child(1) {
    margin-top: 30px;
}

footer {
    background-color: rgb(231, 95, 231);
    height: 17vh;
    margin-top: 60px;
    border-radius: 10px;
    padding-top: 20px;
}

.footer__title {
    margin: 0;
    margin-left: 30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}