@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@mixin standard__button($bkg-color: $primary-black, $color: $primary-white) {
    background-color: $bkg-color;
    color: $color;
    border: none;
    border-radius: 8px;
    width: 129px;
    height: 31px;
    border: 1px solid $primary-black;   
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $primary-white;
    font-family: "Raleway", sans-serif;
    text-align: center;
    align-items: center;
}
header {
    top: 0;
}

main {
    flex-grow: 1;
}

footer {
    bottom: 0;
}

header {
    height: 76px;
    width: 100vw;
    padding-top: 2em;
}

.navigation {
    width: 100vw;
    height: 44px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
}

.shopping__cart--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 40px;
    width: 50px;
}

.navigation__logo {
    width: 88px;
    height: 44px;
}

.shopping__cart--vector {
    position: absolute;
}

.vector-1 {
    width: 22px;
    height: 22px;
    top: 14px;
    right: 23px;
    z-index: 0;
}

.vector-2 {
    width: 24px;
    height: 17px;
    bottom: 19px;
    right: 5px;
    z-index: 1;
}

.company__tagline {
    color: rgb(175, 175, 175);
    margin-top: 5em;
}

.company__name {
    margin-top: .6em;
    margin-bottom: 1em;
}


.section1__buttons {
    @include standard__button()
}
.section1__button--black {
    margin-right: 1.5em;
}

.section1__button--white {
    background-color: $primary-white;
    color: $primary-black;
}

.section1__image--container {
    width: 90vw;
    height: auto;
    padding-top: 3em;
}

.section1__image--media {
    width: 100%;
    height: auto;
}


.section1 h1 {
    font-size: 32px;
    font-family: $primary-font;
    font-weight: 400;
    letter-spacing: 3px;
}