$primary-black: #000000;
$primary-white: #FFFFFF;
$secondary-yellow: #FFBA60;
$primary-hover: rgba(0, 0, 0, 0.75);
$logo-font: "Libre Baskerville", serif;
$primary-font: "Abril Fatface", serif;
$text-font: "Raleway", sans-serif;